@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}

<head class="text-center">
    <h1 class="websitenaam">@Localizer["WebsiteNaam"].Value</h1>
</head>
<body>
    <p>@Localizer["Intro"].Value</p>
    <p>@Localizer["Klik"].Value <a href="~/Ticket/Index" class="btn_bestel">@Localizer["HIER"].Value</a> @Localizer["Bestellen"].Value</p>
</body>






