@model TicketVerkoop.ViewModels.PloegVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PloegVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PloegId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PloegId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PloegNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PloegNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadionNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadionNaam)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
