@model TicketVerkoop.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h4>ShoppingCartVM</h4>

<h3>
    <em>Review</em> your cart:
</h3>


@if (Model != null)
{

    <form asp-action="Payment">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Datum)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Thuisploeg)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Uitploeg)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Vaknaam)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Aantal)

                </th>
                <th>
                    Subtotaal
                </th>
            </tr>
            @{ float? total = 0;}
            @for (var i = 0; i < Model.Cart.Count; i++)
            {

                <tr>
                    @*@Html.HiddenFor(m => Model.Cart[i].Biernr)*@
                    <td>
                        <input asp-for="@Model.Cart[i].Datum" readonly="readonly"
                               class="form-control" />

                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Thuisploeg" readonly="readonly"
                               class="form-control"/>

                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Uitploeg" readonly="readonly"
                               class="form-control" />

                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Vaknaam" readonly="readonly"
                               class="form-control" />

                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Aantal" readonly="readonly"
                               class="form-control" />

                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Prijs" type="number"
                               readonly="readonly" />

                        @{
                            var subtotaal = Model.Cart[i].Prijs
                                            * Model.Cart[i].Aantal;
                            total += subtotaal;
                        }
                    </td>
                    <td>
                        <input id="@("txtSubTotal" + @i)"
                               value="@subtotaal"
                               type="number" readonly="readonly" />
                    </td>

                    @*<td>
                        <a asp-action="Delete" asp-route-bierNr="@Model.Cart[i].Biernr">

                            <img src="~/Images/deleteButton.png" class="mand"/>
                        </a>

                    </td>*@
                </tr>
            }
            <tr>
                <td>
                    <input type="submit" value="Checkout"
                           class="btn btn-default" />
                </td>
            </tr>
            <tr>

                <td id="cart-total">
                    Total  <input id="txtTotal" value="@total"
                                  type="number" readonly="readonly" />
                </td>
            </tr>
        </table>
    </form>
}
else
{ @Html.Raw("Your shoppingcart is empty at the moment")
}


<a asp-controller="Beer" asp-action="Index"> Continue</a>
@section Scripts {
     <script>
            // window.addL....("load", setup)
        
           // const setup = () => { }..

       
            $( () => {
                //selecteer alle  elementen waarvan die eindigen met een id-name 'aantal'
                $("[id$=Aantal]").on('change',  (e) => {
                    console.log("change");
                    let number = $(e.currentTarget).data("aantal"); // hoeveelste element, bijhouden in een data-aantal atttribute
                    let selectorPrice = "Cart_" + number + "__Prijs";
                    let price = $("#" + selectorPrice).val();  // document.getElementbyId("") -> $()
                    let selector = "txtSubTotal" + number;
                    $('#' + selector).val($(e.currentTarget).val()
                                                          * price);
                    let sum = 0;
                    $('[id^=txtSubTotal]').each( (index, element) => {
                        if (!isNaN($(element).val())) {
                            sum += parseFloat($(element).val());
                        }
                    });

                    $('#txtTotal').val(sum);
                });

            });
        </script>
    }